.body {
  margin: auto;
}

.game {
}

p {
}

.game section {
}

.home section {
}

section {
}

.welcome p {
}


.correct__box {}
.wrong__box {}
/* 
.welcome-img{
  min-height: 100%;
  min-width: 1024px;

  width:100%;
  height:auto;

  position: fixed;
  top: 0;
  left: 0;
} */

html{
  background: url(https://i.imgur.com/RvuU47n.jpg) no-repeat center center fixed;
  background-size: cover;
  height:100%;
  overflow: hidden;
}