
.home-page{
  background: url(https://i.imgur.com/RvuU47n.jpg) no-repeat center center fixed;
  background-size: cover;
  height:100%;
  overflow: hidden;
  
}
.game-page{
  background: url(https://i.imgur.com/2wK8tj3.jpg) no-repeat center center fixed;
  background-size: cover;
  height:100%;
  overflow: hidden;
}
.results-page{
  background: url(https://i.imgur.com/wh4MpDF.png) no-repeat center center fixed;
  background-size: cover;
  height:100%;
  overflow: hidden;
  
}

/* Welcome Page Styling */
#game-go-button {
  background: white;
  width: max-content;
  
}
a {
  text-decoration: none;
}

.welcome-desc{
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
border-style:solid;
border-color:black;
padding: 10px 10px 10px 10px;
background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0));
}
/* Game Page Styling */

h2{
  color: black;
  font-size:16px;
  font-family: paralucent, sans-serif;
font-weight: 500px;
font-style: heavy;
}

.first{
  text-align:center;
  height: 100px;
  width: 400px;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
border-style:solid;
border-color:black;
padding: 10px 10px 10px 10px;
background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0));
}
.second{
  text-align:center;
  height: 100px;
  width: 400px;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
border-style:solid;
border-color:black;
padding: 10px 10px 10px 10px;
background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0));
}

.third{
  text-align:center;
  height: 100px;
  width: 400px;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
border-style:solid;
border-color:black;
padding: 10px 10px 10px 10px;
background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0));
}
.fourth{
  text-align:center;
  height: 100px;
  width: 400px;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
border-style:solid;
border-color:black;
padding: 10px 10px 10px 10px;
background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0));
}
.fifth{
  text-align:center;
  height: 100px;
  width: 400px;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
border-style:solid;
border-color:black;
padding: 15px 10px 15px 10px;
background:linear-gradient(to top,rgba(23, 7, 163, 0.79), rgba(0,0,0,0));
  
}
.buttons{
justify-content: center;
border-radius: 20px;
padding-top: 10px;
padding-bottom:10px;

}

.score{
  color:red;
}
.score-message{
  color: red;
}
.incorrect-answer{
color:white;

border-radius: 15px;
padding: 5px 5px 5px 5px;
background:linear-gradient(to top, rgba(0, 0, 0, 0), rgba(217,197,77,1));
  
}
.correct-answer{
  color:white;
  background:linear-gradient(to top, rgba(0, 0, 0, 0), rgba(217,197,77,1));
  border-radius: 15px;
  padding: 5px 5px 5px 5px;
}
/* .column-1-buttons{
display: flex;
flex-direction: column;
}
.column-2-buttons{
  display: flex;
  flex-direction: column;
} */
/* Buttons */
#results-go-button {
  background: white;
  width: max-content;
}

/* resulst page styling */

#play-again-button {
  background: white;
  width: max-content;
  text-decoration: none;
}

#go-home-button {
  background: white;
  width: max-content;
  text-decoration: none;
}